---
import { Icon } from "astro-icon/components";
---

<nav>
	<div class="flex justify-between my-6">
		<Icon name="logo" width={206} height={44} />
		<Icon name="listnavbar" width={206} height={44} />
	</div>
</nav>
